/* Responsive By Media Query For Mobile Devices */
@media screen and (max-width:576px) {
    header{
        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    nav h1{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    .banner-title{
        font-size: 1.5rem;
        margin-top: 50px;
        margin-bottom: 0;
    }
    nav ul{
        gap: 15px;
    }
    .primary-btn{
        font-size: 1rem;
        padding: 10px 15px;
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-container,
    .primary-btn{
        margin: 15px 0;
    }
    .team-image{
        margin-top: 0;
        grid-template-columns: 1fr;
    }
    .team-image img:hover{
        object-fit: cover;
        transform: scale(1.4);
        border-radius: 50%;
        border: 15px solid white;
    }
    .team-description{
        padding: 10px;
        text-align: center;
        margin: 0;
    }
}

/* Responsive By Media Query For Tablet Devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav h1{
        font-size: 3rem;
        padding-bottom: 20px;
    }
    .banner-title{
        font-size: 2.5rem;
        margin-top: 50px;
    }
    nav ul{
        gap: 70px;
    }
    .primary-btn{
        padding: 15px 20px;
    }
    /* main-section */
    .team-container{
        flex-direction: column-reverse;
    }
    .team-container,
    .primary-btn{
        margin: 15px 0;
    }
    .team-image{
        margin-top: 0;
        grid-template-columns: repeat(2 , 1fr);
    }
    .team-image img:hover{
        object-fit: cover;
        transform: scale(1.4);
        border-radius: 50%;
        border: 15px solid white;
    }
    .team-description{
        padding: 10px;
        text-align: center;
        margin: 0;
    }
}